<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>

    <div class="card-body">
      <form novalidate (ngSubmit)="savePet()" [formGroup]="petForm">

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="PetNameId">Pet Name</label>
          <div class="col-md-7">
            <input class="form-control" id="PetNameId" type="text" placeholder="Name (required)"
              formControlName="name" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="BreedNameId">Breed</label>
          <div class="col-md-7">
            <input class="form-control" id="BreedNameId" type="text" placeholder="Breed (required)"
              formControlName="breed" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-3 col-form-label" for="GenderId">Gender</label>
          <div class="col-md-7">
            <input class="form-control" id="GenderId" type="text" placeholder="Gender" formControlName="gender" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-6">
            <button class="btn btn-primary" style="width:80px;margin-right:10px;" type="submit"
              [title]="petForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
              [disabled]="!petForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary" style="width:80px;margin-right:10px;" type="button"
              title="Cancel your edits" [routerLink]="['/pets']">
              Cancel
            </button>
            <button class="btn btn-outline-warning" *ngIf="pageTitle != 'Add Pet'"
              style="width:80px;margin-right:10px" type="button" title="Delete this product" (click)="deletePet()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>